*{
    margin: 0px;
	padding: 0px;
    font-family: "OpenSans-Regular", sans-serif;
    list-style: none;
    user-select: none;
}
@font-face {
    font-family: "OpenSans-Regular";
    src: url('ttf/OpenSans-Regular.ttf');
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url('ttf/BebasNeue-Regular.ttf');
}
html {
    scroll-behavior: smooth;
}


/*----------------------------------*/
/* CSS Global*/
.container{
    margin: 3vh 0vw 0vh 0vw;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.flex-element {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100vh;
}

.containerParties{
    margin-top: 2vh;
}


/*----------------------------------*/
/* CSS Détails*/
.container_row {
    display: flex;
    flex-direction: row;
    margin: 0vh 2vw 0vh 2vw;
}
.container_details{
    display: flex;
    flex-direction: column;
    width: auto;
    margin: 0vh auto 2vh auto;
}

.Titre_valactu{
    font-size: 50px ;
}

.Resultat_Unitevalactu{
    font-size: 45px ;
    margin-right:auto;
}

/*----------------------------------*/
/* CSS BARRE ON OFF*/
.container_TextBarre{
    margin: 0vh auto 2vh auto;
    width: 70%;
    display: flex;
    flex-direction: column;
}

#TextBarre{
    font-size: 40px;
    margin-bottom: 10px;
    margin-left: 10px;
    Color:rgb(56, 56, 56)
}

.container_Bar {
    width: 90%;
    height: 120px;
    background-color: #C7C7C7;
    border-radius: 60px;
    position: relative;
}

.container_Bar:hover {
    cursor: pointer;
}

.button_Bar {
    position: absolute;
    width: 170px;
    height: 100%;
    background-color: #FE9090;
    border-radius: 100px;
    margin-left: 0;
    transition: all 1s ease-in-out;
}

.active_button_Bar {
    margin-left: calc(100% - 170px);
    background-color: #90FEAA;
}


/*----------------------------------*/
/* CSS BOUTON*/
.TitreBtn{
    font-size: 72px;
    margin-left: 6vw;
    margin-bottom: 2vh;
}
.container_2Boutons{
    display: flex;
    flex-direction: row;
    margin: 0vh 1vw 2vh 1vw;

}

.container_Bouton{
    display: flex;
    margin: auto auto auto auto;
}

.boutonchoix{
    width: 410px;
    height: 350px;
    font-size: 50px;
    text-align: center;
    border: 0px;
    border-radius: 40px;
    color : rgb(117, 119, 119);
    transition: 0.2s all ease-in-out;
    overflow: hidden;
}

.Titre_détails{
    font-size: 60px ;
}

.detailsRow{
    display: flex;
    flex-direction: row;
}

.Resultat_details{
    font-size: 50px ;
    font-weight: bold;
    margin-left:auto;
}
.Resultat_Unite{
    font-size: 50px ;
    margin-right:auto;
}

#btnTempérature{
    background-color:rgb(255, 242, 220) ;
}
#btnHumidité{
    background-color:rgb(238, 220, 255) ;
}
#btnLumière{
    background-color:rgb(255, 220, 220) ;
}
#btnAutre{
    background-color:rgb(220, 255, 250) ;
}

/*----------------------------------*/
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 50% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#TitreModal{
    font-size: 100px;
    text-align: center;
    margin-bottom: 20px;
}

.DivColumn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputModal{
    width: 65%;
    height: 80px;
    font-size: 60px;
    margin: 10px auto 40px auto;
    border-top:0px;
    border-right : 0px;
    border-left : 0px;
    border-bottom : 1px solid black;
}

.DivRow{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.BtnModal{
    width: 220px;
    height: 80px;
    margin: auto;
    font-size: 50px;
    text-align: center;
    border : 0px;
    border-radius: 20px;
}

#BtnModalOk{
    background-color: rgb(184,255,164);
    color:rgb(94, 94, 94)
}

#BtnModalAnnuler{
    background-color: rgb(255,167,164);
    color:rgb(94, 94, 94)
}

h5 {
    font-size: 50px;
}

.desactivated{
 filter : blur(1px);
 background-color: rgba(177, 177, 177, 0.5) !important;
 color : white;
}

.detailsRow {
    transition: 0.2s all ease-in-out;
    color: black;
    background-color: white;
    padding: 20px 5px;
    border-radius: 30px;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    text-align: center;
}

.details_show {
    transform: translateY(300%);
   /* opacity: 0;*/
}
